* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#d8c7ff, #19006c);
}
.container {
  width: 60% !important ; 
  margin: auto;
  margin-top: 150px;
  background: rgb(253, 252, 252);
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}
.quizOption {
  width: 40%;
}
.container hr {
  height: 2px;
  border: none;
  background: #707070;
}
.container h2 {
  font-size: 27px;
  font-weight: 500;
}
.container h1 {
  font-size: 27px;
  font-weight: 500;
}
.container ul li {
  display: flex;
  align-items: center;
  height: 70px;

  border: 1px solid #686868;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
}
